<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoatNote</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'materialize.min.css' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=send" />
</head>

<body>
    <h1 class="center teal-text text-darken-3">Welcome to GoatNote</h1>
    <br />
    <h3 class="center teal-text text-darken-3">Enter notes</h3>
    <form class="container" action="/" method="post">
        {% csrf_token %}
        <input type="text" name="note" class="form-control" required />
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Submit
        </button>
    </form>
    <br />

    <h3 class="center teal-text text-darken-3">Your notes</h3>
    {% if notes|length == 0 %}
    <p class="center white-text green darken-2" style="font-size:1.5rem">No notes found</p>
    {% else %}
    <div class="container">
        {% for mynote in notes %}

        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ mynote.note }}</span>
            </div>
            <div class="card-action">
                <a class="btn waves-effect waves-light red" href="/delete/{{ mynote.note }}" type="submit">Delete</a>
                <a class="btn waves-effect waves-light blue" href="/update/{{ mynote.note }}" type="submit">Update</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
<script src="{% static materialize.min.js %}"></script>

</html>