<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoatNote</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'materialize.min.css' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=send" />
</head>

<body>
    <h1 class="center teal-text text-darken-3">Welcome to GoatNote</h1>
    <br />
    <h3 class="center teal-text text-darken-3">Update notes</h3>
    <form class="container" action="/update/{{note}}" method="post">
        {% csrf_token %}
        <input type="text" name="note" class="form-control" value={{ note }} required />
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Submit
        </button>
    </form>
    <br />
</body>
<script src="{% static materialize.min.js %}"></script>

</html>